body {
	margin: 0px;
	color: #666;
	background: #a07c58 url(images/background.png) repeat;
}

header {
	position: relative;
	height: 5em;
	background: url(images/banner.jpg) top left no-repeat;
	padding-bottom: 1em;
}

h1 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 3em;
	color: #005C6E;
	margin: 0.6em 0 0.75em 0.3em;
}

#userform {
	background-color: white;
}

legend {
	padding: 0 1em;
	width: auto
}

footer {
	clear: both;
	font-size: 80%;
	color: #fff;
	min-height: 3em;
	background: url(images/banner.jpg) top left no-repeat;
}

footer p {
	margin: 1em;
}

.goed{
	background-color: lightgreen;
	color: green;
}
.fout{
	background-color: pink;
	color: red;
}

